source/.classpath
source/.project
source/.settings/
source/target/
CoreJava/out/
.project


source/*.iml
source/*.log
source/*.jpg
source/*/*.jpg
source/*.ser

source/*/out.png
Fortifyportfolioservice.*
.metadata/*
/source/.css/coverage.css
/source/.img
.idea/*xml
.idea
/component-metric/*.iml
/component-metric/target/
